<div class="jelli-logo"></div>
<div id="playerLoad"></div>
<div class="jelli-support">
    <a target="_blank" href="http://www.jelli.com">© {{currentYear}} Jelli, Inc.</a> | <a href="mailto:partnersupport@jelli.com">Support</a> | <a href="//common.jelli.com/support/User_Guide_2.0.pdf" target="_blank">User Guide</a>
</div>